<?xml version="1.0" encoding="UTF-8"?>

<!--
Customization of the base logback configuration for appending to console
-->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>